<h2>Nouvel utilisateur</h2>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
	<div class="form-group">
		<label for="firstName">Prénom</label>
		<input id="firstName" type="text" class="form-control" placeholder="prénom de l'utilisateur" formControlName="firstName">
	</div>
	<div class="form-group">
		<label for="lastName">Nom</label>
		<input id="lastName" type="text" class="form-control" placeholder="nom de l'utilisateur" formControlName="lastName">
	</div>
	<div class="form-group">
		<label for="email">Email</label>
		<input id="email" type="text" class="form-control" placeholder="email de l'utilisateur" formControlName="email">
	</div>
	<div formArrayName="hobbies">
	<h3>Vos hobbies</h3>
		<div class="form-group" *ngFor="let hobbyControl of getHobbies().controls; let i=index">
			<input type="text" class="form-control" [formControlName]="i">
		</div>
		<button type="button" class="btn btn-success mb-2" (click)="onAddHobby()">Ajouter un hobby</button>
	</div>
	<button class="btn btn-primary" type="submit" [disabled]="userForm.invalid">Enregistrer</button>
</form>
