<main>
	<div class="container p-5">
		<div class="row">
			<div class="col-12">
				<h1>Mes appareils</h1>
				<ul class="list-group">
					<app-appliance-item [appliance]="applianceOne" [status]="status"></app-appliance-item>
					<app-appliance-item [appliance]="applianceTwo" [status]="status"></app-appliance-item>
					<app-appliance-item [appliance]="applianceThree" [status]="status"></app-appliance-item>
				</ul>
				<button type="button" class="btn btn-success mt-2"
						[disabled]='!isAuth'
						(click)="onTurningOn()">
				Tout allumer</button>
			</div>
		</div>
	</div>
</main>
